@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar {
  width: default;
}

/* commenting for now until we have a dark mode switcher
\ @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.questions__container::-webkit-scrollbar {
}

.questions__container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.question__container::-webkit-scrollbar {
  display: none;
}

.question__container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
